<?php
/**
 * @file
 * Bootstrap sub-theme.
 *
 * Place your custom PHP code in this file.
 */

function sitetheme_preprocess_node(&$variables) {
  if ($variables['#view_mode'] == 'full') {
    $variables['attributes']['class'][] = 'container';
  }
}
